{% extends 'base.html' %}

{% block title %}
    {{ block.super }}
{% endblock title %}


{% block main%}
<section class="py-3 text-center container">
  <div class="row py-lg-2">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">{{object.title}}</h1>
    </div>
  </div>
</section>
<div class="py-2 bg-body-tertiary">
  <div class="container text-center">
    <form method="post">{% csrf_token %}
      {{ form.as_p }}
    <input type="submit" value="Update">
</form>
  </div>
  <div class="py-2 text-center">
    <a href={% url 'home' %}>
      <button class="btn btn-primary my-2 text-center">Back</button>
      
    </a>
  </div>
</div>

{% endblock %}